/* Footer.css */

.footer-container {
    background-color: #000; /* black background color */
    color: #fff; /* white text color */
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  