/* Login.css - Custom styles for the login component */

.login-background {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .required {
    color: red;
  }
  
  .login-btn-color{
    background-color: #6b3618;
  }