.card-link {
    text-decoration: none;
    color: black;
  }
  
  .card-link:hover {
    text-decoration: none;
    color: black;
  }

  .shoe-price {
    font-size: 18px; 
    font-weight: bold; 
  }

  