@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* LandingPage.css */
.carousel-slide {
    overflow: hidden; /* Ensure that the blurred part is hidden */
  }
  
  .carousel-image {
    width: 100%;
    transition: filter 0.5s ease; /* Add a smooth transition effect */
    padding: 15px;
  }
  
  .carousel-image.blur {
    filter: blur(3px); /* Adjust the blur value as needed */
  }
  
  /* LandingPage.css */

.carousel-container {
    position: relative;
  }
  
.left-aligned-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
  }
  
  .sneaker-article {
    font-family: 'Playfair Display', serif;
    width: 60%;
    margin: auto;
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #efefef;
  }

  .shop-now-button {
    color: #ccc;
    background-color: #cf0a2c;
    width: 20%;
  }
  